.navbar__links {
  font-size: 1rem;
}

.navbar__logo {
  font-size: 1.125rem;
}

.header__subtitle {
  font-weight: 400;
}

.navbar {
  font-weight: 500;
}

.header__title, .header__sobre {
  font-weight: 600;
}

.navbar__buttons, .navbar__links {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
}

.navbar {
  min-height: 5rem;
  padding: 0 7rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: #3A404E;
}
.navbar__toggle-button {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  transition: 0.4s;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.875rem;
  min-height: 1.3125rem;
}
@media (max-width: 1044px) {
  .navbar__toggle-button {
    display: flex;
  }
}
.navbar__toggle-button.active {
  right: 26vw;
  margin-right: 25px;
}
@media (min-width: 600px) {
  .navbar__toggle-button.active {
    right: 29vw;
  }
}
.navbar__toggle-button__bar {
  height: 3px;
  width: 100%;
  background-color: #8E2424;
  border-radius: 10px;
}
.navbar__links {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1.5;
}
@media (max-width: 1044px) {
  .navbar__links {
    position: absolute;
    right: -30vw;
    width: 30vw;
    height: 200%;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.23);
    -webkit-box-shadow: -6px 0px 15px 5px rgba(199, 199, 199, 0.41);
    box-shadow: -6px 0px 15px 5px rgba(199, 199, 199, 0.41);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .navbar__links.active {
    right: 0;
    display: flex;
  }
}
.navbar__links__link:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 1044px) {
  .navbar__links__link {
    position: absolute;
    left: 0;
    background-color: #8E2424;
    margin-right: 0 !important;
  }
}
.navbar__links__link a {
  color: #667085;
  text-decoration: none;
}
@media (max-width: 1044px) {
  .navbar__links__link a {
    color: #8E2424;
  }
}
.navbar__buttons {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1044px) {
  .navbar__buttons {
    display: none;
  }
}
.navbar__buttons__button:first-child {
  margin-right: 0.75rem;
  padding: 0.625rem 1.125rem;
  color: #667085;
}
.navbar__buttons__button:last-child {
  background-color: #8E2424;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: #FFFFFF;
}

.header {
  min-height: 25.4375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}
.header__sobre {
  color: #8E2424;
  font-size: 1rem;
}
.header__title {
  color: #101828;
  font-size: 3rem;
}
.header__subtitle {
  color: #667085;
  font-size: 1.25rem;
  max-width: 49.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.metricas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  margin: 0 5rem 6rem;
  padding: 0 2rem;
  gap: 2rem;
}
@media (max-width: 600px) {
  .metricas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.metricas div {
  max-width: 17.5rem;
}
.metricas__metrica__title {
  font-size: 3.75rem;
  color: #8E2424;
  font-weight: 600;
  line-height: 4.5rem;
}
.metricas__metrica__subtitle {
  font-size: 1.125rem;
  color: #101828;
  font-weight: 500;
  line-height: 1.75rem;
}
.metricas__metrica__text {
  font-size: 1rem;
  color: #667085;
  font-weight: 400;
  line-height: 1.5rem;
}

.vagas {
  width: 100%;
  padding: 6rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.vagas__header {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.vagas__header__tag {
  background-color: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  padding: 0.25rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #8E2424;
  font-weight: 500;
}
.vagas__header__title {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #101828;
  font-weight: 600;
}
.vagas__header__subtitle {
  font-size: 1.25rem;
  line-height: 19rem;
  font-weight: 400;
  color: #667085;
}
.vagas__img {
  padding: 0 2rem;
  width: 100%;
}
@media (max-width: 600px) {
  .vagas__img {
    width: 100vw;
  }
}

/*# sourceMappingURL=index.css.map */
