$bg-grey: #E5E5E5;
$text-grey: #3A404E;
$text-dark-grey: #101828;
$text-light-grey: #667085;
$burgundy: #8E2424;
$white: #FFFFFF;

@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

@mixin remFontSize($size) {
    font-size: calculateRem($size);
}

@mixin remHeight($size) {
    height: calculateRem($size);
}

%sizeOne {
    @include remFontSize(16px);
}

%sizeTwo {
    @include remFontSize(18px);
}

%fontOne {
    font-weight: 400;
}

%fontTwo {
    font-weight: 500;
}

%fontThree {
    font-weight: 600;
}

%noMarking {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
}
.navbar {
    @include remHeight(80px);
    padding: 0 calculateRem(32px);
    width: 100%;
    display: flex;
    align-items: center;
    @extend %fontTwo;

    &__logo {
        flex-grow: 1;
        @extend %sizeTwo;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    &__links {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1.5;
        @extend %sizeOne;
        @extend %noMarking;

        &__link {
            &:not(:last-child) {
            margin-right: calculateRem(32px);
            }
        }
        
        &__link a {
            color: $text-light-grey;
            text-decoration: none;
        }
    }

    &__buttons {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &__button {
            &:first-child {
                margin-right: calculateRem(12px);
                padding: calculateRem(10px) calculateRem(18px);
            }

            &:last-child {
                background-color: $burgundy;
                border-radius: 8px;
                padding: 0.8rem 1rem; //botei 0.7 e na solução tava 0.8, sou ninja
                color: $white;
            }
        }

        @extend %noMarking;
    }
}

.header {
    @include remHeight(407px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calculateRem(24px);

    &__sobre {
        color: $burgundy;
        @extend %fontThree;
        @include remFontSize(16px);
    }

    &__title {
        color: $text-dark-grey;
        @extend %fontThree;
        @include remFontSize(48px);
    }

    &__subtitle {
        color: $text-light-grey;
        @extend %fontOne;
        @include remFontSize(20px);
        max-width: calculateRem(792px);
        margin-left: 5rem;
        margin-right: 5rem;
        text-align: center;
    }
}

* {
    border: 1px solid red;
}