$bg-grey: #E5E5E5;
$text-grey: #3A404E;
$text-dark-grey: #101828;
$text-light-grey: #667085;
$burgundy: #8E2424;
$white: #FFFFFF;
$badge-red: rgba(142, 36, 36, 0.05);

@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

@mixin remFontSize($size) {
    font-size: calculateRem($size);
}

@mixin remHeight($size) {
    min-height: calculateRem($size);
}

@mixin for-phone-only {
    @media (max-width: 1044px) {
        @content;
    }
}

@mixin portrait-mode {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width: 600px) {
        @content;
    }
}

%sizeOne {
    @include remFontSize(16px);
}

%sizeTwo {
    @include remFontSize(18px);
}

%fontOne {
    font-weight: 400;
}

%fontTwo {
    font-weight: 500;
}

%fontThree {
    font-weight: 600;
}

%noMarking {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.navbar {
    @include remHeight(80px);
    padding: 0 calculateRem(112px);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %fontTwo;
    // @include for-phone-only {
        // flex-direction: column;
        // align-items: flex-start;

        // &.active {
            //padding-top: 1.6rem;
        // }
    //}

    &__logo {
        flex-grow: 1;
        @extend %sizeTwo;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        color: $text-grey;
    }

    &__toggle-button {
        position: absolute;
        top: 1.7rem;
        right: 1rem;
        transition: .4s;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: calculateRem(30px);
        @include remHeight(21px);
        @include for-phone-only {
            display: flex;
        }

        &.active {
            right: 26vw;
            margin-right: 25px;

            @include large-screen {
                right: 29vw;
            }
        }

        &__bar {
            height: 3px;
            width: 100%;
            background-color: $burgundy;
            border-radius: 10px;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1.5;
        @extend %sizeOne;
        @extend %noMarking;
        @include for-phone-only {
            position: absolute;
            right: -30vw;
            width: 30vw;
            height: 200%;
            transition: .4s;
            // background-color: $white;
            background-color: rgba(255,255,255,0.23);
            -webkit-box-shadow: -6px 0px 15px 5px rgba(199,199,199,0.41); 
            box-shadow: -6px 0px 15px 5px rgba(199,199,199,0.41);
            // display: none;
            flex-direction: column;
            justify-content: center;
            // align-items: flex-start;
            // align-items: center;
            // padding-top: .5rem;
            gap: .5rem;
            // width: 100%;  
            // text-align: center;

            &.active {
                right: 0;
                display: flex;
            }
        }

        &__link {
            &:not(:last-child) {
            margin-right: calculateRem(32px);
            }

            @include for-phone-only {
                // position: absolute;
                // left: 0;
                background-color: $burgundy;
                // text-align: center;
                margin-right: 0!important;
                margin: calculateRem(20px) 0;
                }
        }
        
        &__link a {
            color: $text-light-grey;
            text-decoration: none;
            //text-align: center;

            @include for-phone-only {
                color: $burgundy;
            }
        }
    }

    &__buttons {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-phone-only {
            display: none;
        }

        &__button {
            &:first-child {
                margin-right: calculateRem(12px);
                padding: calculateRem(10px) calculateRem(18px);
                color: $text-light-grey;
            }

            &:last-child {
                background-color: $burgundy;
                border-radius: 8px;
                padding: 0.8rem 1rem; //botei 0.7 e na solução tava 0.8, sou ninja
                color: $white;
            }
        }

        @extend %noMarking;
    }
}

.header {
    @include remHeight(407px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calculateRem(24px);
    text-align: center;

    &__sobre {
        color: $burgundy;
        @extend %fontThree;
        @include remFontSize(16px);
    }

    &__title {
        color: $text-dark-grey;
        @extend %fontThree;
        @include remFontSize(48px);
    }

    &__subtitle {
        color: $text-light-grey;
        @extend %fontOne;
        @include remFontSize(20px);
        max-width: calculateRem(792px);
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

.metricas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin: 0 calculateRem(80px) calculateRem(96px);
    padding: 0 calculateRem(32px);
    gap: calculateRem(32px);

    @include portrait-mode {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    & div {
        max-width: calculateRem(280px);
    }

    &__metrica {

        &__title {
            @include remFontSize(60px);
            color: $burgundy;
            font-weight: 600;
            line-height: calculateRem(72px);
        }

        &__subtitle {
            @include remFontSize(18px);
            color: $text-dark-grey;
            font-weight: 500;
            line-height: calculateRem(28px);
        }

        &__text {
            @include remFontSize(16px);
            color: $text-light-grey;
            font-weight: 400;
            line-height: calculateRem(24px);
        }
    }
}

.vagas {
    width: 100%;
    padding: calculateRem(96px) calculateRem(80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calculateRem(64px);

    &__header {
        max-width: calculateRem(768px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        &__tag {
            background-color: $badge-red;
            border-radius: 16px;
            padding: calculateRem(4px) calculateRem(12px);
            margin-bottom: calculateRem(16px);
            @include remFontSize(14px);
            line-height: calculateRem(20px);
            color: $burgundy;
            font-weight: 500;
        }

        &__title {
            margin-bottom: calculateRem(20px);
            @include remFontSize(36px);
            line-height: calculateRem(44px);
            color: $text-dark-grey;
            font-weight: 600;
        }

        &__subtitle {
            @include remFontSize(20px);
            line-height: calculateRem(304px);
            font-weight: 400;
            color: $text-light-grey;
        }
    }

    &__img {
        padding: 0 calculateRem(32px);
        width: 100%;

        @include portrait-mode {
            width: 100vw;
        }
    }
}